setuptools==54.1.2
Pyttsx3==2.7
pywin32==300
speechRecognition==3.8.1
wheel==0.36.2
pipwin==0.5.1
PyAudio==0.2.11
wikipedia==1.4.0
googlesearch-python==2020.0.2
subprocess.run==0.0.8
wolframalpha==5.0.0
requests==2.24.0
kit==0.2.15
pywhatkit==3.9
opencv-python==4.5.1.48
win10toast==0.9
speech==0.5.2
pywikihow==0.5.7
PyAutoGUI==0.9.52